<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="vertical-align p-0 m-0">
        <%= I18n.t("model.invoice.plural") %>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <hr class="divider"/>
</div>
<div class="container">
  <%= render "form", invoice: @invoice %>
</div>
